{% extends 'base.html.twig' %}

{% block title %}Facebook Chat application using React JS, PHP and MySQL{% endblock %}

{% block body %}
    <!-- This is the React main render container -->
    <div id="container"></div>
{% endblock %}

{% block stylesheets %}
    {% stylesheets
        '../app/Resources/public/css/core.css'
        filter='cssrewrite' output='css/compiled/app.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://fb.me/react-0.13.3.min.js"></script>
    <script src="https://fb.me/JSXTransformer-0.13.3.js"></script>
    {% javascripts
        '../app/Resources/public/js/react-chat.js'
        output='js/compiled/app.js' %}
        <script type="text/jsx" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
